.product{
    width: 300px;
    height: 610px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
     overflow: hidden;
    
}
.product img{}

.product-info{
    margin: 0 14px;
}
.text-size{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}
.product-info p{
    margin-bottom: 5px;
    margin-top: 3px;
    /* padding-top: 10px; */
    /* padding-bottom: 30px; */
    grid-gap: 1px;
   
}

.btn-cart{
    width: 100%;
    background-color: bisque;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart:hover{
    background-color: aquamarine;
}

